<div class="card mt-3">
    <div class="card-header">
        <h1> {{ post.titulo }} </h1>
    </div>
    <div class="card-body">
        <p> {{ post.contenido }} <p>
    </div>
    <div class="card-footer">
        <h4> {{ post.fechaPublicacion | date:'hh:mm dd/MM/yyyy'}} </h4>
    </div>
</div>
<div class="text-center mt-3">
    <button class="btn btn-warning btn-lg ml-5" (click)=eliminar() style="width:40%">borrar post</button>
    <button class="btn btn-danger btn-lg" (click)=goBack() style="width:40%">volver</button>
</div>
